.bg-body-secondary {
    background: linear-gradient(135deg, #4b2e18, #8a5a3a, #d9b38c) !important;
}


.card-header {
    background-color: #4b2e18;
}

.app-main {
    background: linear-gradient(135deg, #4b2e18, #8a5a3a, #d9b38c) !important;

}
.card-body{
    background-color: #8a5a3a;
}
.table-striped{
    background-color: #e8e6e5;
}
.card-title {
font: bold;
font-family: 'Pacifico', cursive;

}